Repository danielendler/datason: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-docs, mkdocs-strict, json-usage-check

sync-docs:
  name: Sync documentation files to docs directory
  entry: python scripts/sync_docs.py
  language: python
  pass_filenames: false
  always_run: false

mkdocs-strict:
  name: MkDocs strict mode check
  entry: mkdocs build --strict --clean
  language: system
  pass_filenames: false

json-usage-check:
  name: Check for inappropriate stdlib json usage (staged files only)
  entry: python scripts/simple_json_check.py --staged-only
  language: python
  pass_filenames: true

fix: enhance load_basic API compatibility and resolve test failures
  datason/__init__.py
Due: json-usage-check

fix: improve profiling overhead test reliability for CI environments
  tests/unit/test_profiling.py
Due: none

fix: add aggressive test isolation for streaming config test
  tests/integration/test_chunked_streaming.py
Due: none

Fix enum comparison failure in CI tests
  tests/integration/test_chunked_streaming.py
Due: none

Add datason-benchmarks compatibility improvements
  datason/__init__.py
Due: json-usage-check

Fix profile_sink initialization for CI test
  datason/__init__.py
Due: json-usage-check

Fix enum identity issues in config tests
  tests/unit/test_config_comprehensive.py
Due: none

(feat): add profiling benchmark
  .github/workflows/pr-benchmark.yml
  PROFILING.md
  examples/profiling_demo.py
Due: json-usage-check

Add profiling announcement to README
  README.md
Due: none

🚀 MAJOR: Fix critical performance bottlenecks in load operations
  PERFORMANCE_OPTIMIZATION_PRD.md
  PERFORMANCE_OPTIMIZATION_RESULTS.md
  datason/deserializers_new.py
Due: json-usage-check

perf: Fix critical performance bottlenecks in serialization/deserialization
  datason/_profiling.py
  datason/core_new.py
  datason/deserializers_new.py
Due: json-usage-check

🚀 Add massive nested structure and array optimization
  datason/core_new.py
Due: json-usage-check

✨ Complete string interning optimization implementation
  datason/core_new.py
Due: json-usage-check

feat: enhance profiling to show real performance metrics in PR comments
  .github/workflows/pr-benchmark.yml
  performance_metrics.json
  scripts/extract_performance_metrics.py
Due: none

refactor: move profiling execution to datason-benchmarks repo
  .github/workflows/pr-benchmark.yml
Due: none

fix datetime
  datason/deserializers_new.py
Due: json-usage-check

🗑️ Remove redundant pr-benchmark workflow and fix external trigger
  .github/workflows/pr-benchmark.yml
  .github/workflows/pr-performance-check.yml
Due: none

adjust performance test thresholds for CI environments
  tests/unit/test_performance_regression.py
Due: none

fix:coverage for new functionality
  tests/unit/test_deserializers_edge_cases.py
  tests/unit/test_optimizations_coverage.py
  tests/unit/test_profiling.py
Due: none

fix config
  tests/unit/test_deserializers_edge_cases.py
Due: none

🚀 Implement conditional optimization strategies to eliminate serialization overhead
  datason/core_new.py
Due: json-usage-check

🧪 Add comprehensive unit tests for conditional optimization thresholds
  tests/unit/test_conditional_optimizations.py
Due: none

optimize: improve redaction engine performance by 56%
  datason/redaction.py
Due: json-usage-check

test: add comprehensive unit tests for redaction optimizations
  tests/unit/test_redaction_optimizations.py
Due: none

🐍 Add Python 3.13 optimization framework with backward compatibility
  PYTHON_3_13_OPTIMIZATION_ANALYSIS.md
  datason/optimizations.py
  examples/python_313_optimization_demo.py
  tests/test_python_version_compatibility.py
Due: json-usage-check

🔼 Bump version to 0.13.0 [skip ci]
  datason/__init__.py
  pyproject.toml
Due: json-usage-check

chore(docs): regenerate supported types table via mkdocs hook
  .github/workflows/ci.yml
  docs/supported-types.md
  mkdocs.yml
  tests/unit/test_supported_types_matrix.py
  tools/gen_supported_types.py
Due: mkdocs-strict

chore: fix end-of-file newline in CodeQL config
  .github/codeql/codeql-config.yml
Due: none

fix(core): classify single-item collections as 'single_type' rather than 'json_basic' to avoid overconfident homogeneity; resolves flaky ML 3.11 test expectation
  datason/core_new.py
Due: json-usage-check

fix(core): make homogeneity cache key include collection length to avoid stale 'json_basic' after mutation; ensure single-item returns 'single_type'
  datason/core_new.py
Due: json-usage-check

fix(py38): avoid PEP 585 generics; use Tuple[int,int] in homogeneity cache annotation
  datason/core_new.py
Due: json-usage-check

ci(codeql): remove advanced workflow to avoid conflict with default setup; rely on default CodeQL UI configuration
  .github/workflows/codeql.yml
Due: none

chore: fix formatting and EOF in new benchmark and script
  datason/_rustcore.py
  examples/rust_vs_python_benchmark.py
  scripts/build_rust.sh
Due: json-usage-check

Update security tooling and harden registry
  datason/type_registry.py
  pyproject.toml
Due: json-usage-check

chore: add v2 project setup — CLAUDE.md, justfile, slash commands, CI template
  .claude/commands/add-plugin.md
  .claude/commands/bench.md
  .claude/commands/lint.md
  .claude/commands/migrate-plugin.md
  .claude/commands/quality-check.md
  .claude/commands/review-pr.md
  .claude/commands/scaffold-v2.md
  .claude/commands/test.md
  .claude/hooks/PostToolUse.sh
  .github/workflows/ci-v2-template.yml
  .pre-commit-config.yaml
  CLAUDE.md
  LEARNINGS_AND_STRATEGY.md
  justfile
  pyrightconfig.json
  scripts/check_function_length.py
Due: none

chore: adapt infrastructure for v2 (python 3.10+, pyright, consolidated CI)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Due: none

feat: scaffold datason v2 with plugin architecture
  datason/__init__.py
  datason/_cache.py
  datason/_config.py
  datason/_core.py
  datason/_deserialize.py
  datason/_errors.py
  datason/_protocols.py
  datason/_registry.py
  datason/_types.py
  datason/plugins/__init__.py
  datason/py.typed
  datason/security/__init__.py
  tests/__init__.py
  tests/benchmarks/__init__.py
  tests/conftest.py
  tests/integration/__init__.py
  tests/unit/__init__.py
  tests/unit/test_config.py
  tests/unit/test_core.py
  tests/unit/test_deserialize.py
  tests/unit/test_errors.py
  tests/unit/test_registry.py
Due: json-usage-check

feat: add stdlib type plugins (datetime, uuid, decimal, path)
  .pre-commit-config.yaml
  datason/__init__.py
  datason/_core.py
  datason/_deserialize.py
  datason/_protocols.py
  datason/plugins/__init__.py
  datason/plugins/datetime.py
  datason/plugins/decimal.py
  datason/plugins/path.py
  datason/plugins/uuid.py
  pyrightconfig.json
  scripts/check_module_size.py
  scripts/simple_json_check.py
  tests/unit/test_plugin_datetime.py
  tests/unit/test_plugin_decimal.py
  tests/unit/test_plugin_path.py
  tests/unit/test_plugin_uuid.py
  uv.lock
Due: json-usage-check

feat: add numpy/pandas plugins and core benchmarks
  datason/plugins/__init__.py
  datason/plugins/datetime.py
  datason/plugins/numpy.py
  datason/plugins/pandas.py
  tests/benchmarks/test_bench_core.py
  tests/unit/test_plugin_numpy.py
  tests/unit/test_plugin_pandas.py
Due: json-usage-check

Path conditions:
  sync-docs: any of: ^(CONTRIBUTING|SECURITY|CHANGELOG)\.md$|^docs/community/(CONTRIBUTING|SECURITY|CHANGELOG)\.md$
  mkdocs-strict: any of: ^(mkdocs\.yml|docs/.*)$
  json-usage-check: any of: ^(datason/.*\.py|examples/.*\.py)$
